.fa-trash, .fa-chevron-down {
  color: black;
}

.fa-trash:hover {
  color:red;
  cursor: pointer;
}

.bolder {
  font-weight: bold;
}

.fa-chevron-down:hover {
  color: #0dcaf0;
  cursor: pointer;
}

body {
  background: #e35869;
  font-family: 'Rubik', sans-serif;
}
.container{
  display: block;
  align-items: right;
}
.login-form {
  background: #ffffff47;
  width: 500px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1 {
  padding: 35px 35px 0 35px;
  font-weight: 300;

}
.login-form .content {
  padding: 35px;
  text-align: center;
}
.login-form-username .input-field {
  padding: 12px 5px;
  
}
.login-form-username .input-field input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 4px;
  border: 10;
  border-bottom: 10px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.login-form-username .input-field input::-webkit-input-placeholder {
  text-transform: uppercase;
}
.login-form-username .input-field input::-moz-placeholder {
  text-transform: uppercase;
}
.login-form-username .input-field input:-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form-username .input-field input::-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form-username .input-field input::placeholder {
  text-transform: uppercase;
}
.login-form-username .input-field input:focus {
  border-color: #222;
}
.login-form-username a.link {
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}
.login-form-password .input-field {
  padding: 12px 5px;
}
.login-form-password .input-field input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.login-form-password .input-field input::-webkit-input-placeholder {
  text-transform: uppercase;
}
.login-form-password .input-field input::-moz-placeholder {
  text-transform: uppercase;
}
.login-form-password .input-field input:-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form-password .input-field input::-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form-password .input-field input::placeholder {
  text-transform: uppercase;
}
.login-form-password .input-field input:focus {
  border-color: #222;
}
.login-form-password a.link {
  text-decoration: none;
  color: #874141;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}
.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.loginButton .action button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #405db4;
  color: rgb(119, 119, 119);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.loginButton .action button:hover {
  background: #d8d8d8;
}


